10-Jun-2020 Warmup

In [10]:
import numpy as np
import pandas as pd
import pickle

In [11]:
%pwd

'C:\\Users\\cxu19\\onedrive\\documents\\flatiron\\hbs\\hbs-ds-060120'

In [12]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is 2C31-4436

 Directory of C:\Users\cxu19\onedrive\documents\flatiron\hbs\hbs-ds-060120

06/10/2020  05:37 PM    <DIR>          .
06/10/2020  05:37 PM    <DIR>          ..
06/03/2020  12:08 PM             1,941 .gitignore
06/10/2020  05:27 PM    <DIR>          .ipynb_checkpoints
06/10/2020  05:20 PM               614 exam_data.pkl
06/10/2020  10:01 AM    <DIR>          module-1
06/08/2020  09:32 PM               305 README.md
06/10/2020  05:37 PM             4,434 Warm_Ups.ipynb
               4 File(s)          7,294 bytes
               4 Dir(s)  63,742,337,024 bytes free

In [13]:
pkl_dict = pd.read_pickle('exam_data.pkl')

In [17]:
df = pd.DataFrame(pkl_dict)

In [18]:
df.head()

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no

In [20]:
df.sort_values(by=['attempts','score'], ascending=[True, False])

         name  score  attempts qualify
11      Jesus   19.5         1     yes
9       Jonas   19.0         1     yes
19   Kimberly   19.0         1     yes
16       Dani   18.0         1     yes
13   Devontae   15.0         1     yes
6     Matthew   14.5         1     yes
0   Anastasia   12.5         1     yes
7       Laura    NaN         1      no
12       John    NaN         1      no
17  Catherine    NaN         1      no
2   Katherine   16.5         2     yes
15       Greg   12.0         2     yes
10       Sara   10.0         2      no
4       Emily    9.0         2      no
8       Kevin    8.0         2      no
18     Hannah    8.0         2      no
5     Michael   20.0         3     yes
14     Nelson   16.5         3     yes
1        Dima    9.0         3      no
3       James    NaN         3      no

23-Jun Warmup

In [1]:
from scipy.stats import ttest_1samp
from scipy import stats
from statsmodels.stats.power import TTestIndPower
from scipy.stats import ttest_ind

In [2]:
b1 = [38, 50, 44, 36, 49, 63, 54, 36, 64, 59]
b2 = [66, 68, 44, 55, 82, 75, 70, 48, 58, 69, 86, 86]

H(0): There is no difference in chips provided between one and the other <br>
H(1): There is a difference in chips provided between one and the other

In [3]:
alpha = 0.05

In [4]:
ttest_ind(b1, b2, equal_var=True)

Ttest_indResult(statistic=-3.32970017029296, pvalue=0.0033405529226708435)

In [11]:
analysis = TTestIndPower()

# parameters for power analysis
effect = 0.08
alpha = 0.5
nobs = 10000

# perform power analysis
analysis = TTestIndPower()
result = analysis.solve_power(effect_size=.7,
                              power=.8,
                              nobs1=None,
                              ratio=1.0,
                              alpha=0.05)

In [12]:
print (result)

33.024569515862694